In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
console = "vgsales.csv"
wiki = "Wiki_Scrape.csv"

console_raw_pd = pd.read_csv(console)
wiki_raw_pd = pd.read_csv(wiki)

In [2]:
console_raw_pd.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [25]:
wiki_raw_pd.head()

,Unnamed: 0,Platform,Firm,Released[2],Units sold,Ref.
0,0,PlayStation 2,Sony,2000,>155 million,[note 1]
1,1,Nintendo DS,Nintendo,2004,154.02 million,[17]
2,2,"Game Boy, Game Boy Color",Nintendo,"1989, 1998",118.69 million,[note 2]
3,3,PlayStation 4 #,Sony,2013,110.4 million,[32]
4,4,PlayStation,Sony,1994,102.49 million,[33]

In [26]:
# Filter out unwanted data
try:
    del console_raw_pd['Year']
    del console_raw_pd['Rank']
    del console_raw_pd['Name']
    del console_raw_pd['Genre']
    del console_raw_pd['Publisher']
    del console_raw_pd['NA_Sales']
    del console_raw_pd['EU_Sales']
    del console_raw_pd['JP_Sales']
    del console_raw_pd['Other_Sales']
except KeyError:
    print("We already removed the unwanted content.")

We already removed the unwanted content.

In [27]:
console_raw_pd.groupby("Platform").sum().head()

          Global_Sales
Platform
2600             97.08
3DO               0.10
3DS             247.46
DC               15.97
DS              822.49

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [ ]:
# Disclaimer, read through wiki for clarifications on greater-than cases

In [ ]:
console_raw_pd

In [ ]:
console_agg_pd = console_raw_pd.groupby(['Platform']).sum()
console_agg_pd